
<div class="container-fluid">
<div class="row">
<div class="col-xs-3" id="user_info">
    <h1>User Profile</h1>
    <div class="user_info">
    <p><%= @user.name %></p>
    <p><%= link_to "@#{@user.username}", show_user_path(id: @user.id) %>
        <% if current_user.following.include?(@user.id) %>
            <%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-danger", id: "unfollow_btn" %>
        <% else %>
            <% if current_user.id != @user.id %>
            <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
            <% end %>
        <% end %>
    </p>
    <p><%= @user.location %></p>
    <p><%= @user.bio %></p>
    <p><%= link_to "Following", following_path(id: @user.id), class: "btn btn-primary btn-follow" %></p>
    <p><%= link_to "Followers", followers_path(id: @user.id), class: "btn btn-primary btn-follow" %></p>
    </div>

    <a href="feed" class="btn btn-primary btn-feed"><span class="btn-color">Back to Your Feed</span></a>


</div>
<div class="col-xs-3"></div>
<div class="col-xs-9 feed">
    <h1><%= @user.name %>'s Tweets</h1>   
    <% if @tweets.empty? %>
        <div class="empty_tweets">This user has not tweeted anything</div>
    <% end %>
    <% @user.tweets.each_with_index do |tweet| %>
        <div class="tweet">
            <p>@<%= @user.username %></p>
        <p><%= tweet.message.html_safe %></p>
        </div>
        <br>
    <% end %>
</div>
</div>
