<div>
	<h2 class="heading"><%= @tag.phrase %></h2>
</div>
<div class="row">
	<% @tag.tweets.order(created_at: :desc).each do |tweet| %>
		<div class="container tweet">
		<p><%= "@#{tweet.user.username}" %></p>
		<p><%= tweet.message.html_safe %></p>
		<%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %>
	    <%= tweet.created_at.strftime('%b%e') if Time.now - tweet.created_at > 86400 %>
		</div>
		<br>
	<% end %>
</div>